#login{
display: flex;
flex-direction: column; 
gap: 0.5vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}


#login h2{
font-size: 5vw;


}




#login input{
height: 6vh;
width: 80vw;
border-radius: 40px;

}

#login button{
height: 10vh;
width: 80vw;
border-radius: 20px;
}
