body{
background-color: black;
}

#login{
display: flex;
flex-direction: column; 
gap: 0.5vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}


#login h2{
font-size: 5vw;
color: white;

}




#login input{
height: 6vh;
width: 80vw;
border-radius: 40px;
font-size: 3vh; 
  border: 1px solid #2DBD55;
}

#login button{
height: 6vh;
width: 80vw;
border-radius: 20px;
  font-size: 3vh;
  color: white;
  background-color:#2DBD55;
}
