body{
background-color: black;
  color:white;
}

#login{
display: flex;
flex-direction: column; 
gap: 0.5vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}


#login h2{
font-size: 5vw;
color: white;

}




#login input{
height: 6vh;
width: 80vw;
border-radius: 40px;
font-size: 3vh; 
  border: 5px solid #2DBD55;
  box-shadow:10px 11px 20px 0px #676767;   

}

button{
height: 6vh;
width: 80vw;
border-radius: 20px;
  font-size: 3vh;
  color: white;
  background-color:#2DBD55;
}




button:hover {
box-shadow: 2px 2px 2px white;   
background-color:#45CE6B;
}



#user-info{
font-size: 2vh;
}

#game h2{
font-size: 7vh;
}

#question{
font-size: 4vh
}



