body {
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.login{
display: flex;
flex-direction: column; 
gap: 3vh;
}


.login input{
height: 10vh;
width: 80vw;
border-radius: 20px;

}

.login button{
height: 10vh;
width: 80vw;
border-radius: 20px;
}

